* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Home page */
#body-home {
  text-align: center;
}
#all-boards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: auto;
  width: fit-content;
  margin-top: 10vh;
}
#all-boards a {
  text-decoration: none;
  margin: 1rem;
}
#new-board-div {
  display: flex;
  justify-content: center;

  margin: auto;
  width: fit-content;
  margin-top: 10vh;
}
.board {
  padding: 1rem;
  background-color: #57837b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
  border: 2px double #57837b;
  border-radius: 5px;
  font-size: 1rem;
  min-height: 100px;
  min-width: 200px;
  background-image: url("./paper.jpeg");
  color: black;
  font-weight: bold;
}
.board input {
  font-size: 16px;
  border-radius: 3px;
  height: 2rem;
}
.board-name-btns {
  margin: 2%;
}
.board-name-btns * {
  margin: 2%;
  padding: 0.25rem 0.5rem;
  font-size: 15px;
  box-shadow: none;
  border: none;
}
.board-name-submit {
  background-color: chartreuse;
}
.board-name-cancel {
  background-color: red;
}
.createBoardDiv {
  padding: 1rem;
  font-size: 2rem;
}
.checklist-name-form {
  justify-content: center;
  display: none;
}
/* Boards Page*/
body {
  background-color: #f4f5f7;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  /*line-height: 20px;
  font-weight: 400; */
  background-image: url("spring.jpg");
  background-size: cover;
  background-position: 45%;
  background-repeat: no-repeat;
  height: 100vh;
}
#board-name {
  font-size: 1rem;
  background-color: transparent;
  margin-left: 2rem;
  font-weight: bold;
}
#navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0, 0.32);
  height: 40px;
  padding: 5px;
}
#trello-image {
  /* display: flex;
  align-items: center;
  margin-left: 50vw; */
  position: absolute;
  top: 7.5px;
  left: 50vw;
  transform: translateX(-50%);
}
#trello-image img {
  height: 25px;
  margin: auto 0;
}

#navbar-left,
#navbar-right {
  display: flex;
  gap: 5px;
  align-items: center;
}
#navbar-left div,
#navbar-right div {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  height: 30px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
#navbar-left a {
  text-decoration: none;
}
#seach-bar input[type="text"] {
  margin-right: 15px;
  height: 100%;
  width: 10vw;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: white;
  transition: width 1s;
}
#seach-bar input[type="text"]:hover {
  background-color: white;
  color: black;
  height: 100%;
  width: 25vw;
}
::placeholder {
  color: white;
}

#board-headbar {
  display: flex;
  justify-content: space-between;
}
#headbar-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#headbar-right {
  display: flex;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
}
#board-headbar {
  height: 40px;
  color: #172b4d;
}

/* List */
#list {
  display: flex;
  flex-direction: column;
  max-width: 272px;
  background-color: #ebecf0;
  border-radius: 3px;
  padding: 0.75rem;
  margin-left: 1rem;
}
#list-title,
.card-main-body,
#add-card {
  display: flex;
}
#labels {
  display: flex;
  text-align: center;
  justify-content: center;
}
#list-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.delete-card {
  color: #b04632;
  background-color: transparent;
}
.cover img {
  max-width: 100%;
}
.card-main-body {
  justify-content: space-between;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  background-color: #ffff;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 10px;
}
#submissions {
  color: white;
  width: 40%;
  font-size: 12px;
  margin: 0 4px 4px 0;
  height: 18px;
  background-color: #eb5a46;
  border-radius: 4px;
  border: solid #eb5a46 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 700;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.card-name {
  margin-bottom: 5px;
}
.specifications {
  display: flex;
  gap: 1rem;
}
.specifications span {
  margin-left: 3.5px;
}

/* Add card button */
#add-card {
  padding: 4px 8px;
  border-radius: 2px;
}
#add-card i {
  color: #5e6c84;

  padding: 4px 8px;
}
#add-card:hover {
  background-color: rgba(9, 30, 66, 0.08);
  cursor: pointer;
}
#add-card:active {
  background-color: rgba(9, 30, 66, 0.13);
  cursor: pointer;
}
#add-card p {
  color: #5e6c84;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

/* Add card form */
#newcard-form {
  display: none;
}
#newcard-form textarea {
  min-height: 54px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  border: none;
  word-wrap: break-word;
  margin-bottom: 8px;
  padding: 7px;
}
#newcard-form-btn {
  display: flex;
  align-items: center;
}

#newcard-form button {
  background-color: #0079bf;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  margin-right: 4px;
}
#newcard-form button:hover {
  background-color: #026aa7;
}
#newcard-form button:active {
  background-color: #055a8c;
}
#newcard-form i {
  font-size: 24px;
  margin-left: 2px;
  color: #6b778c;
}
#newcard-form i:hover,
#newcard-form button:hover {
  cursor: pointer;
}

/* card detail window */
#card-details-window {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.64);

  position: absolute;
  top: 0px;
  display: none;
  justify-content: center;
  min-height: 100vh;
}
#card-details {
  width: 70vw;
  font-size: 1rem;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  border-radius: 3%;
  padding: 1rem 2rem;
  background: url(paper.jpeg) no-repeat;
  background-size: cover;
}
#card-cover {
  text-align: center;
  background-color: green;
}
#card-title,
#card-disc {
  display: flex;
  padding-bottom: 1rem;
}
#card-title {
  justify-content: space-between;
}
#card-name h1 {
  font-size: 20px;
}
#disc-text h1 {
  font-size: 16px;
}
#card-title div,
#card-disc div {
  padding-right: 1rem;
}
#card-title > div {
  display: flex;
  align-items: center;
  padding: 1px 5px;
}

#disc-symbol,
#card-symbol {
  display: flex;
  align-items: center;
}
#arch-del {
  padding-left: 2rem;
}
#arch-del button {
  border: none;
  background-color: #b04632;
  height: 32px;
  max-width: 300px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  font-size: 14px;
}
#arch-del button:first-child {
  background-color: chartreuse;
}

/* checklist-create */
#create-checklist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;

  cursor: pointer;
}
#create-checklist:active {
  background-color: rgba(9, 30, 66, 0.2);
}
#create-checklist > div {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 0;
  height: 80px;
}
#create-checklist > div * {
  align-items: center;

  padding-right: 0;
}

/* //fixes */
.checklist-name-form > div {
  height: 50%;
  width: 100%;
}
.checklist-name-form > div:last-child {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.checklist-name-form > div button {
  height: 100%;
  width: 48%;
  border: none;
  box-shadow: none;
  margin-top: 2px;
}
.checklist-name-form > div input {
  font-size: 1rem;
}
.checklist-name-form > div button:first-child {
  background-color: chartreuse;
  margin-right: 5px;
}
.checklist-name-form > div button:last-child {
  background-color: red;
}
div#card-details button {
  font-size: 1rem;
  border: none;
  background-color: rgb(153, 204, 255);
  border-radius: 5px;
  padding: 2px 3px;
  margin-top: 5px;
}
/*checklist*/
.checklist-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.checklist-title i {
  margin-right: 1rem;
}
.checklist-title button {
  font-size: 16px;
  font-weight: 600;
}
.progress-div {
  display: flex;
  align-items: center;
}
.progress-percent {
  margin-right: 1rem;
}
.progress-bar-outer {
  background: rgba(9, 30, 66, 0.08);
  border-radius: 4px;
  height: 8px;
  width: 100%;
}
.progress-bar-inner {
  background-color: chartreuse;
  border-radius: 4px;
  height: 8px;
  width: 0%;
}

/* checklist items */
.add-item {
  font-size: 16px;
  font-weight: 600;
  margin-top: 1rem;
}
.checklistNameDiv {
  display: none;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.checklistNameDiv button {
  font-size: 16px;
  font-weight: 600;
}
.checklistNameDiv i {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  padding: 0.25rem;
  background-color: red;
  border-radius: 5px;
}

/* checklist form */
.checklist-form {
  padding: 0.5rem;
}
.checklist-form div {
  padding-top: 0.25rem;
  display: flex;
  align-items: center;
}
.checklist-form div input {
  margin-right: 0.25rem;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  height: 16px;
  width: 16px;
}
.checklist-form div label {
  font-size: 16px;
  font-weight: bold;
}

/* delete checkitem*/
.delete-checkitem {
  color: red;
}

/* messages */
.messages {
  width: fit-content;
  margin: auto;
  position: relative;
  z-index: 2;
}

.messages-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.messages-save {
  padding: 0.25rem 1rem;
  width: 103px;
  font-weight: bold;
  background-color: rgba(127, 240, 0, 0.5);
  margin-right: 5px;
  cursor: pointer;
}
.messages-cancel {
  padding: 0.25rem 1rem;
  width: 103px;
  font-weight: bold;
  background-color: rgba(255, 0, 0);
  cursor: pointer;
}
.messages-save:hover {
  background-color: rgba(127, 240, 0, 0.8);
}
.messages-save:active {
  background-color: rgba(127, 240, 0, 1);
}
.messages-cancel:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.messages-cancel:active {
  background-color: rgba(255, 0, 0, 1);
}
.checkItem {
  font-size: 1rem;
  margin: 0.25rem 0 0 0.5rem;
  display: flex;
  justify-content: space-between;
}
.checkItem input {
  margin-right: 5px;
}
